@import '../app/style/variables.scss';
@import '../app/style/mixins.scss';
@import '../app/style/pageTransitions.scss';
@import '../app/style/eightBitPanel.scss';
@import '../app/style/animation.scss';
@import '../app/style/loading.scss';
@import '../../node_modules/ng2-material/core/style/variables.scss';
@import '../../node_modules/ng2-material/core/style/default-theme';
@import '../../node_modules/ng2-material/core/style/theme-functions.scss';
@import '../../node_modules/ng2-material/core/style/mixins.scss';

html,
body {
  background-color: #222222;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.9);
}

canvas {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.hero-container {
  > * {
    font-family: $pixelFont;
    text-align: center;
    color: #fff;
  }

  > h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 8em;
    a {
      text-decoration: none;
      color: inherit;
      @include extrude-stroke-text(4px, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    }
  }
  p {
    padding: 15px;
    font-size: 1.2em;
    @include inset-stroke-text(1px, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    color: $contrastFontColor;
  }

  &.sad {
    > h1 {
      color: md-color($md-warn, 100);
      -webkit-transform-origin: 50% 54%;
      transform-origin: 50% 54%;
      -webkit-transform: rotate(90deg) scale(1.5);
      transform: rotate(90deg) scale(1.5);
      -webkit-transition: -webkit-transform 0.3s $swift-ease-in-out-timing-function;
      transition: transform 0.3s $swift-ease-in-out-timing-function;
      margin: 0;
      a {
        @include inset-stroke-text(1px, md-color($md-warn, A200), md-color($md-warn, 500));
      }
    }
    > p {
      color: md-color($md-warn, 400);
    }
  }

}
