@import "../../style/mixins.scss";

* {
  font-family: "GraphicPixel", "AdvoCut", sans-serif;
  text-align: center;
  color: #fff;
}

h1 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 8em;
}

a {
  text-decoration: none;
  color: inherit;
  @include stroke-text(2px, rgba(255, 255, 255, 0.2));
  font-size: 48px;
  &.new {
    color: #eeaa13;
  }
}

p {
  padding: 15px;
  font-size: 1.2em;
  text-shadow: -2px 0 rgba(255, 255, 255, 0.2), 1px 1px 0 rgba(0, 0, 0, 0.1), -1px 1px 0 rgba(255, 255, 255, 0.2), 0px 0 rgba(0, 0, 0, 0.1);
  color: #eeaa13;
}
