<ul *ngIf="items.length > 0" class="ebp action-menu">
  <li
    *ngFor="let item of items"
    [attr.data-sectionvalue]="item"
    [class.selected]="pointAt?.id == item.id"
    (click)="item.select()"
    (mouseover)="pointAtItem(item)"
    [innerText]="item.label"
  ></li>
</ul>
<span
  #combatPointer
  class="point-to-player"
  [class.hidden]="!pointAt || !pointer"
  [class]="pointerClass + ' ' + pointAtDir"
  [style.left]="(pointerPosition$ | async)?.x + 'px'"
  [style.top]="(pointerPosition$ | async)?.y + 'px'"
></span>
<ng-content></ng-content>
