// Combat View
// --------------------------------------------------------------------------
@import '../../../style/variables';
@import '../../../style/mixins';
@import '../../../style/icons';

:host {

  .action-menu, .targets-menu, .spells-menu {
    position: absolute;
    bottom: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
    li {
      text-transform: capitalize;
      @include flex-inline();
      cursor: pointer;
      padding: 10px 15px;
      &:hover {
        color: $gameGold;
      }
    }
  }

  .point-to-player {
    font-size: 1em;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    pointer-events: none;
    &.hidden {
      display: none;
    }
    @include glyphicon();
    z-index: $zCanvasGui;
    position: absolute;
    &.left {
      content: '<';
      @include glyphicon-chevron-left();
    }
    &.right {
      content: '>';
      @include glyphicon-chevron-right();
    }
    &.attack, &.magic {
      content: 'X';
      @include glyphicon-screenshot();
      color: red;
    }
  }

  @media (min-width: $layout-breakpoint-sm) {

    .point-to-player {
      font-size: 2em;
    }
    .combat-view {
      .action-menu, .targets-menu, .spells-menu {
        margin: 20px;
        width: auto;
        padding: 5px 25px;
      }
    }
  }

  @media (max-width: $layout-breakpoint-sm - 1) {

    .combat-view {
      .action-menu, .targets-menu, .spells-menu {
        border-radius: 0;
        border-left: none;
        border-right: none;
      }
    }
  }

}
