@import '../../style/variables';
@import '../../style/mixins';

:host {
  *:not(md-icon):not([md-icon-button]):not([md-fab]) {
    font-family: $pixelFont;
    @include stroke-text(1px, #000);
  }
  background-color: rgba(0, 0, 0, 0.54);
  color: white;
  md-toolbar {
    position: fixed;
    border-bottom: 6px solid white;
    h1 {
      line-height: 28px;
      height: 32px;
      margin: 0;
      a {
        color: white;
        text-decoration: none;
      }
    }
    rpg-sprite {
      height: 32px;
      margin-left: 6px;
    }
    button {
      font-size: 20px;
      &.active {
        color: $colorGold;
      }
    }
  }

  button[md-fab] {
    position: fixed;
    bottom: 12px;
    right: 12px;
  }

  md-card {
    @include eight-bit-panel();
    position: fixed;
    margin: auto;
    right: 24px;
    bottom: -12px;
    top: 64px + 24px;
    padding-bottom: 36px; // normal 24px plus 12 for the negative bottom
    left: 24px;
    max-width: 600px;
    overflow-y: auto;
  }
}
