@import '../../style/variables';

$navWidth: 320px;

:host {
  md-sidenav-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zCanvasGui;
    font-family: 'GraphicPixel', sans-serif;
    background-color: rgba(0, 0, 0, 0.54);
    color: white;
  }

  player-card {
    min-width: 200px;
  }
}
