<mat-toolbar
  color="primary"
  class="mat-elevation-z4"
  *ngIf="open == true"
  [@toolbar]="open"
>
  <h1 fxShow="false" fxShow.gt-sm>
    <a href="https://github.com/justindujardin/angular-rpg" target="_blank">RPG</a>
  </h1>
  <rpg-sprite [height]="32" [width]="32" name="longSword.png"></rpg-sprite>
  <span fxFlex></span>
  <button mat-button (click)="page = 'party'" [ngClass]="{ active: page == 'party' }">
    Party
  </button>
  <button
    mat-button
    (click)="page = 'inventory'"
    [ngClass]="{ active: page == 'inventory' }"
  >
    Inventory
  </button>
  <button
    mat-button
    (click)="page = 'settings'"
    [ngClass]="{ active: page == 'settings' }"
  >
    Settings
  </button>
</mat-toolbar>

<mat-card class="mat-elevation-z3" [@card]="open" *ngIf="open == true">
  <mat-card-title>
    <span class="flex" *ngIf="page == 'party'">Party</span>
    <span class="flex" *ngIf="page == 'inventory'">Settings</span>
    <span class="flex" *ngIf="page == 'settings'">Inventory</span>
    <span>Party Gold: {{ partyGold$ | async }}</span>
  </mat-card-title>

  <party-inventory
    *ngIf="page == 'inventory'"
    class="inventory-content"
  ></party-inventory>
  <mat-card-content
    *ngIf="page == 'party'"
    fxLayout="row"
    fxLayoutWrap
    fxLayoutAlign="space-around center"
    class="party-content"
  >
    <player-card *ngFor="let member of party$ | async" [model]="member"></player-card>
  </mat-card-content>
  <mat-card-content *ngIf="page == 'settings'" class="settings-content">
    <button mat-button color="warn" (click)="resetGame()">Reset Game</button>
    <mat-slide-toggle [checked]="isChecked" (change)="onSlideToggle($event)"
      >Auto Save</mat-slide-toggle
    >
    <button mat-button (click)="saveGame()">Save Game</button>
  </mat-card-content>
</mat-card>
<button mat-fab color="accent" (click)="open = !open" [@fab]="open">
  <mat-icon>{{ open ? "close" : "menu" }}</mat-icon>
</button>
