<md-sidenav-container *ngIf="open">
  <md-sidenav mode="side" opened="true" fxLayout="column">
    <md-list>
      <md-list-item>
        <button md-button (click)="toggle()" class="btn-close">Close</button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="showParty()" class="btn-party">Party</button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="showInventory()" class="btn-inventory">Inventory</button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="menuSaveGame()">Save Game</button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="menuResetGame()">Reset Game</button>
      </md-list-item>

    </md-list>
  </md-sidenav>
  <div class="party" *ngIf="page == 'party'">
    <h1>Party Gold: {{partyGold$ | async}}</h1>
    <section fxLayout="row" fxLayoutWrap>
      <player-card *ngFor="let member of party$ | async" [model]="member"></player-card>
    </section>
  </div>
  <party-inventory *ngIf="page == 'inventory'"></party-inventory>
</md-sidenav-container>
