@import '../style/variables.scss';
@import '../style/buttons.scss';

$navWidth: 320px;

:host {
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: $zCanvasGui;
  font-family: 'GraphicPixel', sans-serif;
  .btn-open {
    font-size: 42px;
    position: fixed;
    left: 5px;
    bottom: 0;
    line-height: 60px;
    height: 60px;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .navigation {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: $navWidth;
    width: $navWidth;
    background-color: $menuOverlayBackground;
    nav {
      margin: 0;
      a {
        display: block;
      }
    }
  }

  .views {
    overflow: auto;
    overflow-x: hidden;
    > * {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8);
      overflow-x: hidden;
      overflow-y: auto;
      position: fixed;
      top: 0;
      left: $navWidth;
      bottom: 0;
      right: 0;
    }
  }
}
