.hero-card {
  &.dead {
    color: #aaa;
  }
  hr {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  padding: 0 15px;
  h1, .image {
    margin-top: 5px;
    text-align: center;
  }
  health-bar {
    width: 100%;
  }
  .progress {
    border-radius: 0;
    margin-bottom: 5px;
    height: 10px;
  }
  .hero-stat {
    text-align: right;
    strong {
      float: left;
    }
  }
}
