@mixin extrude-stroke-text($width:2px,$lightColor:rgba(255, 255, 255, 0.2),$shadowColor:rgba(0, 0, 0, 0.1)) {
  text-shadow: $width $width 0 $shadowColor,
  -$width -$width 0 $lightColor,
  $width -$width 0 $shadowColor,
  -$width $width 0 $lightColor;
}

@mixin inset-stroke-text($width:2px,$lightColor:rgba(255, 255, 255, 0.2),$shadowColor:rgba(0, 0, 0, 0.1)) {
  text-shadow: -$width -$width 0 $lightColor,
  $width $width 0 $shadowColor,
  -$width $width 0 $lightColor,
  $width -$width 0 $shadowColor;
}

@mixin stroke-text($width:2px,$color:rgba(255, 255, 255, 0.2)) {
  @include extrude-stroke-text($width, $color, $color);
}

@mixin pow-dialog() {
  .ebp {
    max-height:90%;
  }
  h1 {
    margin:0;
  }
  @media (min-width: $layout-breakpoint-sm) {
    .ebp {
      max-height:80%;
    }
    h1 {
      margin:auto;
    }
  }
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex-display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-inline {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: inline-flex;
}
