$gameBlue: #004c62;
$gameGold: #E8C627;


/* Stroke Text Effect */
$contrastFontColorA: rgba(244, 255, 0, 0.5);
$contrastFontColor: #eeaa13;
$contrastHighlight: #E8C627;
$contrastShadow: #E85627;


$zCanvas: 10;
$zCanvasGui: 20;
$zCanvasAlert: 50;

$menuOverlayBackground: rgba(0, 0, 0, 0.8);

