<rpg-notification></rpg-notification>

<div class="select-map ebp" hide-sm *ngIf="!combat">Select Map:
  <select #themap (change)="setMap(themap.value)">
    <option *ngFor="let map of maps" [value]="map" [selected]="map==game.partyMapName">{{map}}</option>
  </select>
</div>

<party-menu *ngIf="!combat"></party-menu>
<world-dialog *ngIf="!combat"></world-dialog>
<world-temple *ngIf="!combat"></world-temple>
<world-store *ngIf="!combat"></world-store>
<world-map
  [style.display]="combat?'none':'inherit'"
  [position]="game.partyPosition"
  [player]="game.world.model.party[0]"
  [mapName]="game.partyMapName"></world-map>

<combat-map *ngIf="combat" [combat]="combat" [map]="combat?.tileMap"></combat-map>
