@import "../../../../style/variables";
@import "../../../../style/mixins";

.rpg-game-store {
  max-width: 600px;
  min-width: 320px;
  z-index: $zCanvasGui;
  @include pow-dialog();
  text-align: center;
  color: white;
  display: block;

  .title {
    display: block;
    position: relative;
    @include hr();
    margin-bottom: 20px;
    padding-bottom: 15px;
    .money {
      position: absolute;
      left: 8px;
      top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        margin-left: 4px;
      }
    }
  }

  .inventory {
    min-height: 200px;
    overflow-y: auto;
    text-align: center;
    .item-price {
      color: $gameGold;
    }
  }

  .btn-group {
    text-align: center;
    button {
      @include btn-flat();
    }
  }
  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    max-width: 100%;
    li.item {
      margin: rem(1);
      cursor: pointer;
      display: flex;
      justify-content: center;
      border: 1px solid transparent;
      * {
        pointer-events: none;
      }
      .item-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
      }
      &:hover {
        * {
          color: #0ff !important;
        }
      }
    }
  }
}
