@import '../../core/style/default-theme';

md-progress-linear {
  .md-container {
    background-color: md-color($md-primary, 100);
  }

  .md-bar {
    background-color: md-color($md-primary);
  }

  &.md-warn .md-container {
    background-color: md-color($md-warn, 100);
  }

  &.md-warn .md-bar {
    background-color: md-color($md-warn);
  }

  &.md-accent .md-container {
    background-color: md-color($md-accent, 100);
  }

  &.md-accent .md-bar {
    background-color: md-color($md-accent);
  }

  &[md-mode=buffer] {
    &.md-warn {
      .md-bar1 {
        background-color: md-color($md-warn, 100);
      }
      .md-dashed:before {
        background: radial-gradient(md-color($md-primary, 100) 0%, md-color($md-warn, 100) 16%, transparent 42%);
      }
    }
    &.md-accent {
      .md-bar1 {
        background-color: md-color($md-accent, 100);
      }
      .md-dashed:before {
        background: radial-gradient(md-color($md-accent, 100) 0%, md-color($md-accent, 100) 16%, transparent 42%);
      }
    }
  }
}
