rpg-notification {
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: $zCanvasAlert;
  text-align: center;
  font-family: $pixelFont;
  pointer-events: none;
  -webkit-transform: scale3d(1, 0, 1);
  -moz-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  &.active {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    pointer-events: auto;
  }
  .message {
    @extend .no-select;
    top: 45%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.80);
    border: none;
    box-shadow: none;
    margin: auto;
    position: absolute;
    padding: 25px 10px;
    font-size: 2.5em;
    color: #fff;
    @include stroke-text(1px, #000);
  }
}
