<section *ngIf="model$ | async as model">
  <div *ngIf="showLevel$ | async">Level {{ model.level }}</div>

  <section *ngIf="showHP$ | async">
    <div>HP {{ model.hp }} / {{ model.maxhp }}</div>
    <mat-progress-bar [value]="healthPercentage$ | async"></mat-progress-bar>
  </section>

  <section *ngIf="showExperience$ | async">
    <div>EXP {{ model.exp }} / {{ nextLevelExp$ | async }}</div>
    <mat-progress-bar [value]="nextLevelPercentage$ | async"></mat-progress-bar>
  </section>

  <section *ngIf="showCombatStats$ | async">
    <div class="hero-stat">Strength : {{ model.strength[0] }}</div>
    <div class="hero-stat">Vitality : {{ model.vitality[0] }}</div>
    <div class="hero-stat">Intelligence : {{ model.intelligence[0] }}</div>
    <div class="hero-stat">Agility : {{ model.agility[0] }}</div>
    <div class="hero-stat">Luck : {{ model.luck[0] }}</div>
    <mat-divider></mat-divider>
    <div class="hero-stat">Attack : {{ attack$ | async }}</div>
    <div class="hero-stat">Defense : {{ defense$ | async }}</div>
    <div class="hero-stat">Evasion : {{ evasion$ | async }}</div>
  </section>
</section>
