
.select-map {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 1rem;
  padding: 0.5rem;
  opacity: 0.3;
  pointer-events: none;
  &:hover {
    opacity: 1;
  }
  select {
    pointer-events: all;
  }
}
