:host {
  .hero-card {
    &.dead {
      color: #aaa;
    }
    hr {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    padding: 0 15px;
    h1, .image {
      margin-top: 5px;
      text-align: center;
    }
    player-stats {
      text-align: center;
    }
  }
}
