@import '../../core/style/default-theme';

$button-border-radius: 3px !default;
$button-fab-border-radius: 50% !default;

// The ELEMENT '[md-button]' is the host.
// The CLASS '[md-button]' is the shadow root.

md-toolbar [md-button].md-fab {
  background-color: white;
}


// Because of Shadow DOM emulation, the modifier classes are applied to the [md-button]
// element (host), but the style needs to be changed for the shadow content (.[md-button]).
.md-button {
  border-radius: $button-border-radius;

  // When the user explictly applies the primary color.
  &.md-primary {
    color: md-color($md-primary);
  }

  &.md-primary.md-fab,
  &.md-primary.md-raised {
    color: md-color($md-primary, default-contrast);
    background-color: md-color($md-primary);
  }

  // When the user explictly applies the accent color.
  &.md-accent {
    color: md-color($md-accent);
  }

  &.md-accent.md-fab,
  &.md-accent.md-raised {
    color: md-color($md-accent, default-contrast);
    background-color: md-color($md-accent);
  }

  // When the user explictly applies the warn color.
  &.md-warn {
    color: md-color($md-warn);
  }

  &.md-warn.md-fab,
  &.md-warn.md-raised {
    color: md-color($md-warn, default-contrast);
    background-color: md-color($md-warn);
  }

  // When the button is a fab without an explicit color applied.
  &.md-fab {
    border-radius: $button-fab-border-radius;
    background-color: md-color($md-accent);
    color: md-color($md-accent, default-contrast);
  }

  // When the button is raised without an explicit color applied.
  &.md-raised {
    color: md-color($md-background, default-contrast);
    background-color: md-color($md-background, 50);
  }
}

// Hover and focus styles (only applied when the button is not disabled).
// The modifiers for :focus and :hover actually apply to the element in the
// shadow DOM (the .[md-button]).
[md-button]:not([disabled])  {
  // Default hover/focus background.
  &:focus,
  &:hover {
    background-color: md-color($md-background, 500, 0.2);
  }

  &.md-primary.md-fab,
  &.md-primary.md-raised {
    &:hover,
    &:focus {
      background-color: md-color($md-primary, 600);
    }
  }

  &.md-accent.md-fab,
  &.md-accent.md-raised {
    &:hover,
    &:focus {
      background-color: md-color($md-accent, 700);
    }
  }

  &.md-warn.md-fab,
  &.md-warn.md-raised {
    &:hover,
    &:focus {
      background-color: md-color($md-warn, 700);
    }
  }

  &.md-fab {
    &:hover,
    &:focus {
      background-color: md-color($md-accent, A700);
    }
  }

  &.md-raised {
    &:hover,
    &:focus {
      background-color: md-color($md-background, 200);
    }
  }
}

[md-button][disabled],
[md-button][disabled].md-fab,
[md-button][disabled].md-raised, {
  color: md-color($md-foreground, disabled);
  background-color: transparent;
  cursor: not-allowed;
}

