rpg-health-bar {
  display: inline-flex;
  height:inherit;
  md-progress-linear {
    height:inherit;
    /* Damage states */
    &.fine {
      .md-bar {
        background-color: rgb(46, 109, 166);
      }
    }
    &.hurt {
      .md-bar {
        background-color: md-color($md-accent);
      }
    }
    &.critical {
      .md-bar {
        background-color: rgb(183, 0, 5);
      }
    }
    &.dead {
      .md-bar {
        background-color: rgb(255, 255, 255);
      }
    }
  }
}
