@import "../../style/variables";
@import "../../style/mixins";

:host {
  display: inline-block;
  height: inherit;
  min-width: 100px;
  height: 10px;
  border: 1px solid $gameBlack;
  div {
    height: inherit;
    /* Damage states */
    &.fine {
      background-color: $gameLightBlue;
    }
    &.hurt {
      background-color: rgba(230, 200, 40, 1);
    }
    &.critical {
      background-color: rgba(183, 0, 5, 0.5);
    }
    &.dead {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}
