@import '../../style/variables';
@import '../../style/mixins';

world-temple {
  .temple-view {
    @include pow-dialog();
    z-index: $zCanvasGui;
    text-align: center;
    margin: auto;
    max-width: 800px;
    .header {
      h1 {
        margin: 0;
      }
    }
  }
}
