<canvas #worldCanvas>
  Your browser doesn't support this.
</canvas>

<world-dialog
  *ngIf="(featureType$ | async) == 'DialogFeatureComponent'"
  [feature]="featureComponent$ | async"
  [scene]="scene"></world-dialog>

<world-store
  *ngIf="(featureType$ | async) == 'StoreFeatureComponent'"
  [feature]="featureComponent$ | async"
  [scene]="scene"></world-store>

<world-temple
  *ngIf="(featureType$ | async) == 'TempleFeatureComponent'"
  [feature]="featureComponent$ | async"
  [scene]="scene"></world-temple>
