<div class="container" *ng-if="character">
  <button class="btn btn-flat previous" (click)="previousCharacter()"><span
    class="glyphicon glyphicon-chevron-left"></span></button>
  <button class="btn btn-flat next" (click)="nextCharacter()"><span class="glyphicon glyphicon-chevron-right"></span>
  </button>
  <h2>{{character.attributes.name}}
    <rpg-sprite class="image" [name]="character.attributes.icon" frame="7"></rpg-sprite>
  </h2>

  <div class="hero-stat">Attack : {{character.getAttackStrength()}}</div>
  <div class="hero-stat">Magic : {{character.getMagicStrength()}}</div>
  <div class="hero-stat">Defense : {{character.getDefense()}}</div>

  <ul class="equipped">
    <li class="weapon" (click)="unequipItem(character.weapon)">
      <span class="desc">Weapon</span>
      <rpg-sprite class="icon" *ng-if="character.weapon" [name]="character.weapon.attributes.icon"></rpg-sprite>
    </li>
    <li class="jewelry item" (click)="unequipItem(character.accessory)">
      <span class="desc">Accessory</span>
      <rpg-sprite class="icon" *ng-if="character.accessory" [name]="character.accessory.attributes.icon"></rpg-sprite>
    </li>
    <li class="head item" (click)="unequipItem(character.head)">
      <span class="desc">Head</span>
      <rpg-sprite class="icon" *ng-if="character.head" [name]="character.head.attributes.icon"></rpg-sprite>
    </li>
    <li class="body item" (click)="unequipItem(character.body)">
      <span class="desc">Body</span>
      <rpg-sprite class="icon" *ng-if="character.body" [name]="character.body.attributes.icon"></rpg-sprite>
    </li>
    <li class="arms item" (click)="unequipItem(character.arms)">
      <span class="desc">Arms</span>
      <rpg-sprite class="icon" *ng-if="character.arms" [name]="character.arms.attributes.icon"></rpg-sprite>
    </li>
    <li class="feet item" (click)="unequipItem(character.feet)">
      <span class="desc">Feet</span>
      <rpg-sprite class="icon" *ng-if="character.feet" [name]="character.feet.attributes.icon"></rpg-sprite>
    </li>
  </ul>
</div>

<div class="container">
  <h1>Inventory</h1>
  <ul class="unequipped">
    <li class="item" *ng-for="#item of model.inventory" (click)="equipItem(item)">
      <span class="desc">{{item.attributes.name}}</span>
      <rpg-sprite class="icon" [name]="item.attributes.icon"></rpg-sprite>
    </li>
  </ul>
</div>
