<a href="#" class="trigger glyphicon glyphicon-collapse-down" (click)="toggle()" *ng-if="!open"></a>

<div class="navigation" *ng-if="open">
  <ul class="options">
    <!-- Close -->
    <li>
      <a href="#" (click)="toggle()" class="glyphicon glyphicon glyphicon-collapse-up"></a>
    </li>
    <!-- Characters -->
    <li [class]="getActiveClass('party')">
      <a href="#" (click)="showParty()" class="pow2-black-flag"></a>
    </li>
    <!-- Inventory/Equipment -->
    <li [class]="getActiveClass('inventory')">
      <a href="#" (click)="showInventory()" class="pow2-battle-gear"></a>
    </li>
    <!-- Save/Reset -->
    <li [class]="getActiveClass('save')">
      <a href="#" (click)="showSave()" class="glyphicon glyphicon-floppy-disk"></a>
    </li>

  </ul>
</div>
<div class="views" *ng-if="open">
  <div class="party" *ng-if="page == 'party'">
    <h1>Party Gold: {{game.world.model.gold}}</h1>
    <player-card
      [model]="member"
      layout-wrap
      flex="30"
      flex-sm="100"
      *ng-for="#member of game.world.model.party"></player-card>
  </div>
  <div class="inventory" *ng-if="page == 'inventory'">
    <party-inventory></party-inventory>
  </div>
  <div class="save" *ng-if="page == 'save'">
    <button class="btn btn-flat" (click)="menuSaveGame()"><i class="glyphicon glyphicon-floppy-disk"></i> Save Game
    </button>
    <button class="btn btn-flat" (click)="menuResetGame()"><i class="glyphicon glyphicon-floppy-remove"></i> Reset Game
    </button>
  </div>
</div>
