<div *ng-if="character" layout="column">
  <div layout="row">
    <button class="btn btn-flat previous" (click)="previousCharacter()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>

    <h2 flex layout="column" layout-align="center center">
      <rpg-sprite class="image" [name]="character.attributes.icon" frame="7"></rpg-sprite>
      <span>{{character.attributes.name}}</span>
    </h2>
    <button class="btn btn-flat next" (click)="nextCharacter()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
  <h3 layout="column">
    <div>HP {{character.attributes.hp}} / {{character.attributes.maxHP}}</div>
    <rpg-health-bar [model]="character"></rpg-health-bar>
    <div layout="row" layout-align="space-around center" flex>
      <div class="hero-stat">Attack : {{character.getAttackStrength()}}</div>
      <div class="hero-stat">Magic : {{character.getMagicStrength()}}</div>
      <div class="hero-stat">Defense : {{character.getDefense()}}</div>
    </div>

  </h3>


  <ul class="equipped" layout="row" layout-align="space-around start">
    <li class="weapon" (click)="unequipItem(character.weapon)">
      <span class="desc">Weapon</span>
      <rpg-sprite class="icon" *ng-if="character.weapon" [name]="character.weapon.attributes.icon"></rpg-sprite>
    </li>
    <li class="jewelry item" *ng-if="character.accessory" (click)="unequipItem(character.accessory)">
      <span class="desc">Accessory</span>
      <rpg-sprite class="icon" [name]="character.accessory.attributes.icon"></rpg-sprite>
    </li>
    <li class="head item" *ng-if="character.head" (click)="unequipItem(character.head)">
      <span class="desc">Head</span>
      <rpg-sprite class="icon" [name]="character.head.attributes.icon"></rpg-sprite>
    </li>
    <li class="body item" *ng-if="character.body" (click)="unequipItem(character.body)">
      <span class="desc">Body</span>
      <rpg-sprite class="icon" [name]="character.body.attributes.icon"></rpg-sprite>
    </li>
    <li class="arms item" *ng-if="character.arms" (click)="unequipItem(character.arms)">
      <span class="desc">Arms</span>
      <rpg-sprite class="icon" [name]="character.arms.attributes.icon"></rpg-sprite>
    </li>
    <li class="feet item" *ng-if="character.feet" (click)="unequipItem(character.feet)">
      <span class="desc">Feet</span>
      <rpg-sprite class="icon" [name]="character.feet.attributes.icon"></rpg-sprite>
    </li>
  </ul>
</div>

<div class="container">
  <h1>Inventory</h1>
  <ul class="unequipped">
    <li class="item" *ng-for="#item of model.inventory" (click)="equipItem(item)">
      <span class="desc">{{item.attributes.name}}</span>
      <rpg-sprite class="icon" [name]="item.attributes.icon"></rpg-sprite>
    </li>
  </ul>
</div>
