<canvas>
  Your browser doesn't support this.
</canvas>
<span class="point-to-player"></span>
<combat-damage *ng-for="#d of damages"
               [value]="d.value"
               [position]="d.position"
               [classes]="d.classes"></combat-damage>
<div class="combat-view">
  <ul *ng-if="choosing" class="ebp action-menu">
    <li *ng-for="#action of getActions()" (click)="selectAction(action)">{{action.getActionName()}}</li>
  </ul>
  <ul *ng-if="choosingSpell" class="ebp spells-menu">
    <li *ng-for="#spell of getSpells()" (click)="selectSpell(spell)">{{spell.name}}</li>
  </ul>
  <ul *ng-if="targeting" class="ebp targets-menu">
    <li *ng-for="#target of getTargets()" (click)="selectTarget(target)">{{target.model.attributes.name}}
    </li>
  </ul>
  <div class="status" *ng-for="#member of combat?.machine?.party" [class]="getMemberClass(member,combat?.focus)">
    <span class="name">{{member.model.attributes.name}}</span>
    <span class="hp">HP {{member.model.attributes.hp}} / {{member.model.attributes.maxHP}}</span>
    <rpg-health-bar [model]="member.model"></rpg-health-bar>
  </div>
</div>
