// Combat View
// --------------------------------------------------------------------------
combat-map {
  * {
    @extend .no-select;
  }
  canvas {
    @extend .game-canvas;
  }

  rpg-health-bar {
    width: 100%;
    @extend .flex-inline;
  }

}

.combat-view {
  font-family: $pixelFont;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: rem(2);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  background-color: transparent;
  z-index: $zCanvasGui;

  .action-menu, .targets-menu, .spells-menu {
    position: absolute;
    bottom: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
    li {
      text-transform: capitalize;
      @extend .flex-inline;
      cursor: pointer;
      padding: 10px 15px;
      &:hover {
        color: $gameGold;
      }
    }
  }

  .progress {
    margin-bottom: 0;
  }
  .status {
    border-radius: 0;
    text-align: right;
    color: #fff;
    position: relative;
    md-progress-linear {
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .md-container {
        background-color: $menuOverlayBackground;
      }
    }
    .text {
      padding: 0 15px;
      z-index: $z-index-bottom-sheet;
    }
    &.focused {
      color: $gameGold;
    }
    &.choosing {
      background-color: $gameBlue;
    }
    .name {
      float: left;
      text-align: left;
      width: 25%;
      @include stroke-text(1px, #000);
    }

    .hp {
      text-align: right;
      @include stroke-text(1px, #000);
    }
    health-bar {
      min-width: 25%;
    }
  }
}

@media (min-width: $layout-breakpoint-sm) {

  combat-map {
    .combat-view {
      .status {
        font-size: 2.2em;
      }
      .action-menu, .targets-menu, .spells-menu {
        margin: 20px;
        width: auto;
        padding: 5px 25px;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-sm - 1) {

  combat-map {
    .combat-view {
      .action-menu, .targets-menu, .spells-menu {
        border-radius: 0;
        border-left: none;
        border-right: none;
      }
    }
  }
}

.point-to-player {
  z-index: $zCanvasGui;
  position: absolute;
  @extend .glyphicon;
  &.left {
    content: '<';
    @extend .glyphicon-chevron-left;
  }
  &.right {
    content: '>';
    @extend .glyphicon-chevron-right;
  }
  &.attack, &.magic {
    content: 'X';
    @extend .glyphicon-screenshot;
    color: red;
  }
  font-size: 2em;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}
