@import './variables';

@mixin extrude-stroke-text($width:2px,$lightColor:rgba(255, 255, 255, 0.2),$shadowColor:rgba(0, 0, 0, 0.1)) {
  text-shadow: $width $width 0 $shadowColor,
  -$width -$width 0 $lightColor,
  $width -$width 0 $shadowColor,
  -$width $width 0 $lightColor;
}

@mixin inset-stroke-text($width:2px,$lightColor:rgba(255, 255, 255, 0.2),$shadowColor:rgba(0, 0, 0, 0.1)) {
  text-shadow: -$width -$width 0 $lightColor,
  $width $width 0 $shadowColor,
  -$width $width 0 $lightColor,
  $width -$width 0 $shadowColor;
}

@mixin stroke-text($width:2px,$color:rgba(255, 255, 255, 0.2)) {
  @include extrude-stroke-text($width, $color, $color);
}

// eight-bit-panel
@mixin eight-bit-panel($border-width:6px,$color: white, $background-color:#004c62) {
  background-color: $background-color;
  color: $color;
  border: $border-width solid $color;
  border-radius: $border-width * 1.5;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
  padding-top: $baseline-grid * 2;
  padding-bottom: $baseline-grid * 2;
}

@mixin pow-dialog($border-width:6px,$color: white, $background-color:#004c62) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: $pixelFont;
  font-size: rem(2);
  @include eight-bit-panel($border-width, $color, $background-color);
  max-height: 90%;
  h1 {
    margin: 0;
  }
  @media (min-width: $layout-breakpoint-sm) {
    max-height: 80%;
    h1 {
      margin: auto;
    }
  }
}

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin flex-display() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-inline() {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: inline-flex;
}

// Combat gray bottom panel?
@mixin drop-panel() {
  background: #333;
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid #222;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 0px;
}

@mixin btn() {
  /* General button style (reset) */
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  &:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin btn-flat() {
  @include btn();
  border: 3px solid #fff;
  color: #fff;
  /* Button 1a */
  &:hover,
  &:active,
  &.ng-click-active {
    color: #0e83cd;
    background: #fff;
  }
}

@mixin btn-flap() {
  @include btn();
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;

  border-radius: 0 0 5px 5px;
  &:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
  }
  &:active,
  &.ng-click-active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
  }
}
