@use '@angular/material' as mat;
// Plus imports for other components in your app.

$mat-font-family: "Roboto", sans-serif;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$mat-rpg-blue: (
  50: #ccf4ff,
  100: #ccf5ff,
  200: #7de1fa,
  300: #59c3de,
  400: #009cc7,
  500: #0088ad,
  600: #007494,
  700: #00607a,
  800: #004c62,
  900: #002833,
  A100: #e6f9ff,
  A200: #81a7b3,
  A400: #5c8e99,
  A700: #3d8799,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: rgba(white, 0.87),
  ),
);

$mat-rpg-gold: (
  50: #fffae6,
  100: #fff5c7,
  200: #fff0ad,
  300: #ffeb94,
  400: #ffe77a,
  500: #ffe261,
  600: #ffdd45,
  700: #e6b800,
  800: #d9b100,
  900: #cca300,
  A100: #fffae6,
  A200: #fff5c7,
  A400: #fff0ad,
  A700: #ffe77a,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$rpg-app-primary: mat.define-palette($mat-rpg-blue, 800, 500, 900);
$rpg-app-accent: mat.define-palette($mat-rpg-gold, 800, 500, 900);

// The warn palette is optional (defaults to red).
$rpg-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$rpg-app-theme: mat.define-dark-theme($rpg-app-primary, $rpg-app-accent, $rpg-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($rpg-app-theme);
