<h1>Pow2!</h1>
<p>Choose a character</p>
<button class="previous btn btn-link" ng-click="mainMenu.previousClass()"><i
    class="glyphicon glyphicon-chevron-left"></i></button>
<button class="next btn btn-link" ng-click="mainMenu.nextClass()"><i class="glyphicon glyphicon-chevron-right"></i>
</button>
<ul ng-click="mainMenu.nextClass()" ng-swipe-left="mainMenu.previousClass()" ng-swipe-left="mainMenu.nextClass()">
  <li ng-repeat="class in classes" ng-class="mainMenu.getItemClass(class)">
    <h3>{{class.name}}</h3>
    <i icon-render icon="mainMenu.getClassIcon(class)" width="128" height="128" frame="7"></i>
  </li>
</ul>
