<div class="combat-view" ng-show="combat">

  <ul ng-if="combatCtrl.choosing" class="ebp action-menu">
    <li ng-repeat="action in combatCtrl.getActions()" ng-click="selectAction(action)">{{action.getActionName()}}</li>
  </ul>
  <ul ng-if="combatCtrl.choosingSpell" class="ebp spells-menu">
    <li ng-repeat="spell in combatCtrl.getSpells()" ng-click="selectSpell(spell)">{{spell.name}}</li>
  </ul>
  <ul ng-if="combatCtrl.targeting" class="ebp targets-menu">
    <li ng-repeat="target in combatCtrl.getTargets()" ng-click="selectTarget(target)">{{target.model.attributes.name}}
    </li>
  </ul>
  <div class="status" ng-repeat="member in combat.party" ng-class="combatCtrl.getMemberClass(member,combat.focus)">
    <span class="name">{{member.model.attributes.name}}</span>
    <span class="hp">HP {{member.model.attributes.hp}} / {{member.model.attributes.maxHP}}</span>
    <health-bar model="member.model"></health-bar>
  </div>
</div>