$pixelFont: 'GraphicPixel', 'AdvoCut', sans-serif;
$pixelFontAlt: 'AdvoCut', 'GraphicPixel', sans-serif;

@font-face {
  font-family: 'GraphicPixel';
  src: url('../fonts/graphicpixel-webfont.eot');
  src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphicpixel-webfont.woff') format('woff'),
  url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
  url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdvoCut';
  src: url('../fonts/advocut-webfont.eot');
  src: url('../fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/advocut-webfont.woff') format('woff'),
  url('../fonts/advocut-webfont.ttf') format('truetype'),
  url('../fonts/advocut-webfont.svg#AndinaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "../../../fonts/pow2";
@import "../../../fonts/glyphicons";
