<rpg-notification></rpg-notification>

<div class="select-map ebp" hide-sm *ng-if="!combat">Select Map:
  <select #themap (change)="setMap(themap.value)">
    <option *ng-for="#map of maps" [value]="map" [selected]="map==game.partyMapName">{{map}}</option>
  </select>
</div>

<div class="dialogs-container"
     layout="column"
     layout-fill
     layout-padding
     layout-align="start center"
     *ng-if="!combat">
  <party-menu></party-menu>
  <world-dialog></world-dialog>
  <world-temple></world-temple>
  <world-store></world-store>
</div>
<world-map
  [style.display]="combat?'none':'inherit'"
  [player-position]="game.partyPosition"
  [player]="game.world.model.party[0]"
  [map-name]="game.partyMapName"></world-map>

<combat-map *ng-if="combat" [combat]="combat" [map]="combat?.tileMap"></combat-map>
