
@import "ui/style/variables";
@import "ui/style/fonts";
@import "ui/style/mixins";
@import "ui/style/animation";
@import "ui/style/pageTransitions";
@import "ui/style/loading";
@import "ui/style/buttons";
@import "ui/style/eightBitPanel";

// ngMaterial Core
@import "ui/material/core/style/variables";
@import "ui/material/core/style/mixins";
@import "ui/material/core/style/structure";
@import "ui/material/core/style/typography";
@import "ui/material/core/style/layout";
@import "ui/material/core/style/default-theme";

// ngMaterial Components
@import "ui/material/components/all";


// Import template styles
//  TODO: This might get _really_ old.
//  If so, just concat all the less files then compile the concat.
@import "ui/world/worldmap";
@import "ui/world/worlddialog";
@import "ui/world/worldstore";
@import "ui/world/worldtemple";

@import "ui/rpg/rpgnotification";
@import "ui/rpg/rpgsprite";
@import "ui/rpg/rpghealthbar";

@import "ui/party/playercard";
@import "ui/party/partymenu";
@import "ui/party/partyinventory";

@import "ui/combat/combatmap";
@import "ui/combat/combatdamage";

html,
body {
  background-color: #222222;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.9);
}

.game-canvas {
  z-index: $zCanvas;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.hero-container {
  > * {
    font-family: $pixelFont;
    text-align: center;
    color: #fff;
  }

  > h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 8em;
    a {
      text-decoration: none;
      color: inherit;
      @include extrude-stroke-text(4px, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    }
  }
  p {
    padding: 15px;
    font-size: 1.2em;
    @include inset-stroke-text(1px, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    color: $contrastFontColor;
  }

  &.sad {
    > h1 {
      color: md-color($md-warn, 100);
      -webkit-transform-origin: 50% 54%;
      transform-origin: 50% 54%;
      -webkit-transform: rotate(90deg) scale(1.5);
      transform: rotate(90deg) scale(1.5);
      -webkit-transition: -webkit-transform 0.3s $swift-ease-in-out-timing-function;
      transition: transform 0.3s $swift-ease-in-out-timing-function;
      margin: 0;
      a {
        @include inset-stroke-text(1px, md-color($md-warn, A200), md-color($md-warn, 500));
      }
    }
    > p {
      color: md-color($md-warn, 400);
    }
  }

}

.ebp {
  font-family: 'GraphicPixel', sans-serif;
  font-size: rem(2);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $layout-breakpoint-sm) {
  .hero-container {
    h1 {
      font-size: rem(12);
    }
    p {
      font-size: rem(1.8);
    }
  }

  .menu-overlay {
    > span {
      font-size: rem(2);
    }
  }

  .game-container {
    .damage-value {
      font-size: rem(5);
    }
    .message {
      .text {
        font-size: rem(2);
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $layout-breakpoint-sm) {
  .drop-overlay {
    .message {
      padding: 25px;
      font-size: 3em;
    }
  }

  .game-container {
    .message {
      .text {
        font-size: 20px;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $layout-breakpoint-lg) {
  .hero-container {
    h1 {
      font-size: 16em;
    }
    p {
      font-size: 1.8em;
    }
  }

  .game-container {
    .message {
      .text {
        font-size: 24px;
      }
    }
  }
}


.select-map {
  z-index: $zCanvasGui;
  position: absolute;
  top:10px;
  right:10px;
  margin:1rem;
  padding:0.5rem;
  opacity:0.3;
  transition: $swift-ease-in;
  pointer-events: none;
  &:hover {
    opacity: 1;
  }
  select {
    pointer-events: all;
  }
}

rpg-app {
  display: block;
}

