$pixelFont: 'GraphicPixel', 'AdvoCut', sans-serif;
$pixelFontAlt: 'AdvoCut', 'GraphicPixel', sans-serif;

@font-face {
  font-family: 'GraphicPixel';
  src: url('../fonts/graphicpixel-webfont.eot');
  src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphicpixel-webfont.woff') format('woff'),
  url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
  url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdvoCut';
  src: url('../fonts/advocut-webfont.eot');
  src: url('../fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/advocut-webfont.woff') format('woff'),
  url('../fonts/advocut-webfont.ttf') format('truetype'),
  url('../fonts/advocut-webfont.svg#AndinaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ng-cloak {
  display: none !important;
}

@import "style/variables";
@import "style/mixins";
@import "../fonts/pow2";
@import "../fonts/glyphicons";
@import "style/animation";
@import "style/pageTransitions";
@import "style/loading";
@import "style/mediaqueries";

// Other
@import "style/buttons";
@import "style/eightBitPanel";

// Import template styles
//  TODO: This might get _really_ old.
//  If so, just concat all the less files then compile the concat.
@import "ui/world/worldmap";
@import "ui/world/worlddialog";
@import "ui/world/worldstore";
@import "ui/world/worldtemple";

@import "ui/rpg/rpgnotification";
@import "ui/rpg/rpgsprite";
@import "ui/rpg/rpghealthbar";


@import "ui/party/playercard";
@import "ui/party/partymenu";
@import "ui/party/partyinventory";

@import "ui/combat/combatmap";
@import "ui/combat/combatdamage";

html,
body {
  background-color: #222222;
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: $pixelFont;
  color:rgba(255,255,255,0.9);

  /* GET THIS DIALOG OUT OF MY FACE! */
  .btn-close {
    font-size: 2.2em;
    position: fixed;
    padding-top: 20px;
    right: 0.5em;
    top: -6px;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    &:hover {
      top: -4px;
    }
    &:active {
      top: 0;
    }
  }

}

.game-canvas {
  z-index: $zCanvas;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.hero-container {
  margin-right: auto;
  margin-left: auto;

  > * {
    font-family: $pixelFont;
    text-align: center;
    color: #fff;
  }

  > h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 8em;
    @include extrude-stroke-text(4px, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));

  }
  p {
    font-size: 1.2em;
    @include inset-stroke-text(1px, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    color: $contrastFontColor;
  }
}


.ebp {
  font-family: 'GraphicPixel', sans-serif;
  font-size: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .hero-container {
    h1 {
      font-size: 12em;
    }
    p {
      font-size: 1.8em;
    }
  }

  .menu-overlay {
    > span {
      font-size: 24px;
    }
  }

  .game-container {
    .damage-value {
      font-size: 5em;
    }
    .message {
      .text {
        font-size: 18px;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .drop-overlay {
    .message {
      padding: 25px;
      font-size: 3em;
    }
  }

  .game-container {
    .message {
      .text {
        font-size: 20px;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .hero-container {
    h1 {
      font-size: 16em;
    }
    p {
      font-size: 1.8em;
    }
  }

  .game-container {
    .message {
      .text {
        font-size: 24px;
      }
    }
  }
}
