<!-- Pow2 -->
<!doctype html>
<html ng-app="rpg">
<head>
  <title>Pow2 - Develop</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <style type="text/css">
    .ng-hide {
      display: none !important;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="/css/rpg.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/css/pow2.ui.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/fonts/pow2.css" media="all"/>
</head>
<body ng-controller="RPGGameController">

<game-menu class="ng-hide" ng-show="loaded"></game-menu>

<div class="loading fade pt-page-scaleUp" ng-show="loading">
  <div class="loading-wrapper">
    <div class="loading-wrapper-inner">
      <div class="hero-container">
        <h1 ng-bind="loadingTitle">Pow2!</h1>

        <p ng-bind="loadingMessage">Waking up...</p>
      </div>
    </div>
  </div>
</div>


<main-menu class="fade ng-hide" ng-show="menu"></main-menu>


<div class="game-container fade" ng-if="loaded" id="alertContainer">
  <canvas class="game-view map fade" width="960" height="640" game-canvas ng-hide="inCombat">
    Your browser doesn't support this.
  </canvas>
  <canvas class="game-view combat fade" width="960" height="640" combat-canvas ng-hide="!inCombat">
    Your browser doesn't support this.
  </canvas>
  <combat-view ng-if="inCombat"></combat-view>
</div>

<div class="ui-container container ng-hide fade" ng-show="loaded">
  <dialog-view ng-show="dialog"></dialog-view>
  <store-view ng-show="store"></store-view>
  <temple-view ng-show="temple"></temple-view>
</div>


<!-- Compiled Game Files -->
<script type="text/javascript" src="/bower/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bower/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/bower/backbone/backbone.js"></script>
<script type="text/javascript" src="/bower/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/bower/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/bower/angular-touch/angular-touch.min.js"></script>
<script type="text/javascript" src="/bower/astar/astar.js"></script>
<script type="text/javascript" src="/bower/tabletop/src/tabletop.js"></script>
<script type="text/javascript" src="/bower/pow-core/lib/pow-core.js"></script>
<script type="text/javascript" src="/lib/pow2.js"></script>
<script type="text/javascript">
//  pow2.GAME_ROOT = 'https://cdn.rawgit.com/justindujardin/pow2/v0.1.1/';
</script>
<script type="text/javascript" src="/lib/pow2.rpg.templates.js"></script>
<script type="text/javascript" src="/lib/pow2.rpg.js"></script>
<script type="text/javascript" src="/lib/pow2.ui.js"></script>
<script type="text/javascript" src="/lib/pow2.sprites.js"></script>

</body>
</html>