$pixelFont: 'GraphicPixel', 'AdvoCut', sans-serif;
$pixelFontAlt: 'AdvoCut', 'GraphicPixel', sans-serif;

@font-face {
  font-family: 'GraphicPixel';
  src: url('../fonts/graphicpixel-webfont.eot');
  src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphicpixel-webfont.woff') format('woff'),
  url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
  url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdvoCut';
  src: url('../fonts/advocut-webfont.eot');
  src: url('../fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/advocut-webfont.woff') format('woff'),
  url('../fonts/advocut-webfont.ttf') format('truetype'),
  url('../fonts/advocut-webfont.svg#AndinaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ng-cloak {
  display: none !important;
}

@import "style/variables";
@import "style/mixins";
@import "../fonts/pow2";
@import "../fonts/glyphicons";
@import "style/animation";
@import "style/pageTransitions";
@import "style/loading";

// ngMaterial Core
@import "ui/material/core/style/variables";
@import "ui/material/core/style/mixins";
@import "ui/material/core/style/structure";
@import "ui/material/core/style/typography";
@import "ui/material/core/style/layout";
@import "ui/material/core/style/default-theme";

// ngMaterial Components
@import "ui/material/components/all";

// Other
@import "style/buttons";
@import "style/eightBitPanel";

// Import template styles
//  TODO: This might get _really_ old.
//  If so, just concat all the less files then compile the concat.
@import "ui/world/worldmap";
@import "ui/world/worlddialog";
@import "ui/world/worldstore";
@import "ui/world/worldtemple";

@import "ui/rpg/rpgnotification";
@import "ui/rpg/rpgsprite";
@import "ui/rpg/rpghealthbar";

@import "ui/party/playercard";
@import "ui/party/partymenu";
@import "ui/party/partyinventory";

@import "ui/combat/combatmap";
@import "ui/combat/combatdamage";

html,
body {
  background-color: #222222;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.9);
}

.game-canvas {
  z-index: $zCanvas;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.hero-container {
  > * {
    font-family: $pixelFont;
    text-align: center;
    color: #fff;
  }

  > h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 8em;
    a {
      text-decoration: none;
      color:inherit;
      @include extrude-stroke-text(4px, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    }
  }
  p {
    padding:15px;
    font-size: 1.2em;
    @include inset-stroke-text(1px, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    color: $contrastFontColor;
  }

  &.sad {
    > h1 {
      color:md-color($md-warn,100);
      -webkit-transform: rotate(90deg) scale(1.5);
      transform: rotate(90deg) scale(1.5);
      -webkit-transition: -webkit-transform 0.3s $swift-ease-in-out-timing-function;
      transition: transform 0.3s $swift-ease-in-out-timing-function;
      @include inset-stroke-text(1px, md-color($md-warn,500), md-color($md-warn,A100));
    }
    > p {
      color:md-color($md-warn,400);
    }
  }

}

.ebp {
  font-family: 'GraphicPixel', sans-serif;
  font-size: rem(2);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $layout-breakpoint-sm) {
  .hero-container {
    h1 {
      font-size: rem(12);
    }
    p {
      font-size: rem(1.8);
    }
  }

  .menu-overlay {
    > span {
      font-size: rem(2);
    }
  }

  .game-container {
    .damage-value {
      font-size: rem(5);
    }
    .message {
      .text {
        font-size: rem(2);
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $layout-breakpoint-sm) {
  .drop-overlay {
    .message {
      padding: 25px;
      font-size: 3em;
    }
  }

  .game-container {
    .message {
      .text {
        font-size: 20px;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $layout-breakpoint-lg) {
  .hero-container {
    h1 {
      font-size: 16em;
    }
    p {
      font-size: 1.8em;
    }
  }

  .game-container {
    .message {
      .text {
        font-size: 24px;
      }
    }
  }
}
