
world-temple {
  @include pow-dialog();
  .temple-view {
    z-index: $zCanvasGui;
    text-align: center;
    margin: auto;
    max-width: 800px;
    .header {
      h1 {
        margin: 0;
      }
    }
  }
}
