
world-store {
  @include pow-dialog();
  z-index: $zCanvasGui;
  text-align: center;

  .ebp {
    min-width: 320px;
  }

  .inventory {
    min-height:200px;
    overflow-y:auto;
    text-align: center;
    .item-price {
      color: $gameGold;
    }
  }

  .btn-group {
    text-align: center;
  }
  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    max-width: 100%;
    li.item {
      margin: rem(1);
      cursor: pointer;
      border: 1px solid transparent;
      * {
        pointer-events: none;
      }
      .item-name {
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &:hover {
        * {
          color: #0FF !important;
        }
      }
    }
  }
}
