<div class="ebp" *ng-if="active" layout="column" layout-padding>
  <h1>{{getActionVerb()}} {{name}}</h1> <span>Gold: {{buyer.gold}}</span>

  <div class="inventory" layout-padding flex>
    <ul *ng-if="isBuying()">
      <li class="item" *ng-for="#item of inventory" (click)="selectItem(item)" layout="row">
        <rpg-sprite width="32" height="32" class="icon" [name]="item.icon"></rpg-sprite>
        <span flex class="item-name" [inner-text]="item.name"></span>
        <span class="item-price" [inner-text]="item.cost"></span>
      </li>
    </ul>

    <ul *ng-if="isSelling()">
      <li class="item" *ng-for="#item of buyer.inventory" (click)="selectItem(item)" layout="row">
        <rpg-sprite width="32" height="32" class="icon" [name]="item.attributes.icon"></rpg-sprite>
        <span flex class="item-name" [inner-text]="item.attributes.name"></span>
        <span class="item-price" [inner-text]="item.attributes.cost"></span>
      </li>
    </ul>
    <ul *ng-if="selected">
      <li class="item selected" layout="row">
        <rpg-sprite width="32" height="32" class="icon" [name]="selected.icon"></rpg-sprite>
        <span flex class="item-name" [inner-text]="selected.name"></span>
        <span class="item-price" [inner-text]="selected.cost"></span>
      </li>
    </ul>

  </div>


  <div class="prompt btn-group" *ng-if="selected">
    <button class="btn btn-flat" (click)="selected=null">Back</button>
    <button class="btn btn-flat" (click)="actionItem(selected)" [inner-text]="selling?'Sell':'Buy'"></button>
  </div>
  <div class="prompt btn-group" *ng-if="!selected">
    <button class="btn btn-flat" (click)="close()">Done</button>
    <button class="btn btn-flat" (click)="toggleAction()" [inner-text]="selling?'Buy':'Sell'"></button>
  </div>

</div>
