<!-- TODO: Replace this mess with Material Portal components -->
<portal-feature
  [feature]="feature$ | async"
  #comp *ngIf="(type$ | async) ==='PortalFeatureComponent' && (enabled$ | async)"></portal-feature>
<dialog-feature
  [feature]="feature$ | async"
  (onClose)="onClose.emit(featureQuery.first)"
  #comp *ngIf="(type$ | async) ==='DialogFeatureComponent' && (enabled$ | async)"></dialog-feature>
<temple-feature
  [feature]="feature$ | async"
  (onClose)="onClose.emit(featureQuery.first)"
  #comp *ngIf="(type$ | async) ==='TempleFeatureComponent' && (enabled$ | async)"></temple-feature>
<store-feature
  [feature]="feature$ | async"
  (onClose)="onClose.emit(featureQuery.first)"
  #comp *ngIf="(type$ | async) ==='StoreFeatureComponent' && (enabled$ | async)"></store-feature>
<ship-feature
  [feature]="feature$ | async"
  #comp *ngIf="(type$ | async) ==='ShipFeatureComponent' && (enabled$ | async)"></ship-feature>
<treasure-feature
  [feature]="feature$ | async"
  #comp *ngIf="(type$ | async) ==='TreasureFeatureComponent' && (enabled$ | async)"></treasure-feature>
<combat-feature
  [feature]="feature$ | async"
  #comp *ngIf="(type$ | async) ==='CombatFeatureComponent' && (enabled$ | async)"></combat-feature>
