// Dialog
// --------------------------------------------------------------------------
world-dialog {
  z-index: $zCanvasGui;
  max-width: 800px;
  position: relative;
  text-align: center;
  .body-text {
    pointer-events: none;
  }
  .btn-close {
    position: absolute;
    font-size: 1.5em;
    padding: 5px 20px;
    padding-top: 10px;
    right: 0.5em;
    top: 0;
    > i {
      pointer-events: none;
    }
    &:hover {
      top: 0;
      padding-top: 12px;
      outline: none;
    }
    &:active {
      top: 0;
      padding-top: 16px;
      outline: none;
    }
  }
  .character {
    padding: 0;
    p {
      margin: 0;
    }
  }
  .text {
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    color: #fff;
    @include stroke-text(1px, #000);
  }
}
